body {
    font-family: $main-font;
    font-size: 18px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 100%;
    margin: auto;
    padding: 0 20px;
    
    @media (max-width: $screen-lg-max) {
        max-width: 780px;
    }

    @media (min-width: $screen-lg-min) {
        max-width: 1024px;
    }

    @media (min-width: $screen-xl-min) {
        max-width: 1488px;
    }
}




