/* Colors */
$black: #2e2829;
$red: #f50049;
$gray: #959293;
$gray-light: #a7a7a7;
$white: #fff;
$pink: #fbebea;
/* /Colors */

$radius: 30px;
$shadow: 0 5px 7px 1px rgba(255, 0, 67, 0.3);
$shadow-black: 0 7px 13px 1px rgba(0, 0, 0, 0.05);

/* Media */
$mq-xs-min: 480px;
$mq-sm-min: 576px;
$mq-md-min: 768px;
$mq-lg-min: 992px;
$mq-xl-min: 1200px;

$mq-xs-max: 479px;
$mq-sm-max: 575px;
$mq-md-max: 767px;
$mq-lg-max: 991px;
$mq-xl-max: 1199px;

$mq-xs: 320px;
/* /Media */