.footer {
   padding: 130px 20px 0;
   min-height: 700px;
   background: #fff url("../images/footer-bg.jpg") no-repeat center/cover;
   text-align: center;
}

@media (min-width: $screen-xl-min) {
   .footer {
      height: 1300px;
   }   
}

@media (max-width: $screen-lg-max) {
   .footer {
      padding-top: 100px;
   }   
}
