.reviews {
   padding-top: 50px;
   background-color: $light-gray;
}

.reviews-inner {
   display: flex;
   justify-content: space-between;
   align-items: center;

   background: url("../images/reviews/snowflake.png") no-repeat top left;
}

.reviews-inner__photo {   
   img {
      display: block;
      width: 100%;
   }
}

.reviews-inner__content {
   max-width: 575px;
}

.reviews-inner__content-title {
   margin-bottom: 40px;
   font-size: 3.2rem;
   font-weight: 600;
   color: $red;
}

.reviews-inner__content-text {
   margin: 0 0 30px;
   font-size: 1.1rem;
   line-height: 2;
   color: $gray;
}

.reviews-inner__content-name {
   font-size: 1.1rem;
   font-weight: 600;
   color: $black;
}

.reviews-inner__content-post {
   margin-top: 10px;
   font-size: 1.1rem;
   color: $gray;
}

@media (min-width: $screen-xl-min) {
   .reviews-inner {
      justify-content: space-around;
   }
   
   .reviews-inner__content-text {
      margin-bottom: 70px;
   }
}

@media (max-width: $screen-xl-max) {
   .reviews-inner__content-title {
      font-size: 2.5rem;
   }
}

@media (max-width: $screen-lg-max) {
   .reviews-inner {
      text-align: center;
      background-size: 70%;
      flex-direction: column;
   }   

   .reviews-inner__photo {  
      margin-bottom: 50px;
      width: 250px;
      height: 250px; 
      border-radius: 50%;
      overflow: hidden;
      img {
         display: block;
         width: 100%;
      }
   }

   .reviews-inner__content-post {
      margin-bottom: 50px;
   }
   
}

@media (max-width: $screen-xs-max) {
   .reviews-inner__photo {  
      width: 200px;
      height: 200px; 
   }
}
