body {
   font-size: 14px;
   @include regular;
   color: $black;
}

*, *::before, *::after {
   box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
   margin: 0;
}

a {
   text-decoration: none;
}

.container {
   width: 100%;
   max-width: 1490px;
   margin: auto;
   padding: 0 20px;
}

/* ================================= */

//  Section
.section {
   padding: 130px 0;
   @media (max-width: $screen-md-max) {
      padding: 60px 0;
   }
}

.section-header {
   margin-bottom: 100px;
   text-align: center;
}

.section__title {
   margin-top: 10px;
   font-size: 3.4rem;
   font-weight: 600;

   @media (max-width: $screen-md-max ) {
   font-size: 3rem;
   }

   @media (max-width: $screen-xs-max ) {
   font-size: 1.7rem;
   }
}

.section__suptitle {
   font-size: 1.3rem;
   color: $gray;

   @media (max-width: $screen-xs-max ) {
      font-size: 1rem;
   }
}

// Btn
.btn {
   display: inline-block;
   padding: 20px 0;
   width: 230px;

   color: $primary;
   font-weight: 700;
   text-transform: uppercase;
   text-align: center;

   box-shadow: $shadow;
   border-radius: $radius;
   background-color: #fff;
   transition: all .5s;
}

.btn:hover {
   box-shadow: 0 0 5px rgba(218, 229, 239, 0.95);
}
