.features {
   text-align: center;
}

.features-inner {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
   text-align: center;
}

.features-item {
   margin-bottom: 40px;
   display: flex;
   min-width: 25%;
   align-items: center;
   flex-direction: column;
   text-align: center;
}

.features-item__ico {
   margin-bottom: 30px;
}

.features-item__title {
   margin-bottom: 30px;
   font-size: 1.2rem;
}

.features-item__text {
   max-width: 230px;
   color: $gray;
}

.features__btn {
   margin-top: 50px;
}