.form {
    width: 100%;
    background: none;

    &__filed {
        display: block;
        padding: 20px 0;
        width: 100%;
        max-width: 680px;
        
        color: $white;
        text-align: center;
        background: none;
        border: 2px solid $white;
        
        &::placeholder {
            font-family: $secondary-font;
            color: $white;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}

@media (max-width: $screen-sm-max) {
    .form {
        &__filed {
            font-size: 1rem;
        }
    }
}

@media (min-width: $screen-sm-min) {
    .form {
        &__filed {
            font-size: 1.2rem;
        }
    }
}