// Import
@import "variables";
@import "mixins";

// Default styles
body {
   @include primary-font;
   font-size: 17px;
   color: $white;
}
*, *::before, *::after {
   box-sizing: border-box;
}
a {
   text-decoration: none;
   color: inherit;
}
button { 
   border: none;
   background: none;
}
a, button {
   -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
   -webkit-tap-highlight-color: transparent;
}
input {
   font-size: 15px;
   @include secondary-font;
}
.container {
   width: 100%;
   max-width: 1064px;
   margin: 0 auto;
   padding: 0 20px;
}

// ===========

/* === HEADER === */
.header-top {
   padding: 20px 25px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.logo {
   width: 110px;
   height: 40px;
   display: flex;
   align-items: center;
   img {
      max-width: 100%;
   }
}
.search-form {
   margin: 0 20px;
   display: flex;
   width: 430px;
}
.search-field {
   padding-left: 15px;
   padding-right: 40px;
   width: 100%;
   height: 31px;

   color: $gray;
   border: 1px solid #e1e1e1;
   &:focus {
      border: 1px solid $primary;
   }
}
.search-btn {
   width: 22px;
   height: 22px;
   background: url("../img/header/search.png") no-repeat;
}
.basket {
   display: flex;
   align-items: flex-end;
   font-size: 2rem;
   color: $dark-gray;
}
.basket__ico {
   margin-right: 15px;
}

@media (min-width: $screen-xs-min) {
   .search-form {
      position: relative;
   }
   .search-btn {
      position: absolute;
      top: 50%;
      right: 8px;
      transform: translateY(-50%);
   }
}

@media (max-width: $screen-xs-max) {
   .header-top {
      padding: 20px 0;
      justify-content: space-around;
   }
   .search-form {
      width: auto;
   }
   .search-field {
      display: none;
   }
}

// Nav
.nav {
   background: $light-primary;
   box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.08);
   transition: all .5s ease-out;
}
.nav-inner {
   padding: 9px 18px;
   display: flex;
   align-items: center;
   flex-wrap: wrap;

   @include secondary-font;
   font-size: 1rem;
   text-transform: uppercase;
   font-weight: 600;
   white-space: nowrap;
   transition: all .1s ease-out;
}
.nav__link {
   margin: 0 auto;
   transition: color .1s;
   &:hover {
      color: lighten($primary, 40%);
   }
}

@media (min-width: $screen-xl-min) {
   .nav-inner > li + li::before {
      content: '|';
      padding: 0 10px;
   }
}

@media (max-width: $screen-xl-max) {
   .nav {
      height: 0;
   }
   .nav-inner {
      font-size: 0;
      justify-content: center;
   }
   .nav__link {
      margin: 0 10px 20px 5px;
   }
}

@media (max-width: $screen-sm-max)  {
   .nav-inner {
      flex-direction: column;
   }
}

// Burger
.burger__toggle:checked ~ .burger__item > span {
   background: none;
   &::before {
      transform: rotate(-45deg);
   }
   &::after {
      transform: rotate(45deg);
   }
}
.burger__toggle {
   display: none;
}
.burger__item {
   margin-right: auto;
   margin-left: 50px;
   display: none;
   width: 45px;
   height: 40px;

   cursor: pointer;
   background-color: $primary;
   border-radius: $radius;

   position: relative;
}
.burger__item > span {
   display: inline-block;
   width: 30px;
   height: 2px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   background-color: $white;
   transition: background .09s linear;
   &::before, &::after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      position: absolute;

      background-color: $white;
      transition: transform .1s linear;
   }
   &::before {
      transform: translateY(-10px);
   }
   &::after {
      transform: translateY(10px);
   }
}

@media (max-width: $screen-xl-max) {
   .burger__item {
      display: block;
      margin-bottom: 30px;
   }
   .burger__toggle:checked ~ .nav {
      height: auto;
      background-color: rgba($primary, .6);
      & .nav-inner {
         font-size: 1rem;
         padding: 20px 0 5px;
      }
   }
}

@media (max-width: $screen-xs-max) {
   .burger__item {
      margin: 10px auto 20px;
   }
}


/* === INTRO === */
.intro {
   background: $primary;
}
.intro-inner {
   padding: 65px 0 30px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.intro__wrap-img {
   img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      margin: auto;
   }
}
.intro-content {
   margin-left: 30px;
   max-width: 400px;
   color: $white;
   word-wrap: break-word;
}
.intro-content__title {
   margin-bottom: 20px;
   max-height: 7rem;
   
   font-size: 3.8rem;
   text-transform: uppercase;
   overflow: hidden;
}
.intro-content__text {
   margin-bottom: 30px;
   max-height: 120px;
   
   @include secondary-font;
   font-size: 1rem;
   line-height: 1.5;
   overflow: hidden;
   text-overflow: ellipsis;
}

@media (max-width: $screen-md-max) {
   .intro-content__title {
      font-size: 3.2rem;
   }
}

@media (max-width: $screen-sm-max) {
   .intro-inner {
      flex-direction: column;
   }
   .intro__wrap-img {
      width: 200px;
      height: 200px;
      margin-bottom: 30px;
   }
   .intro-content {
      margin-left: 0;
      text-align: center;
   }
   .intro-content__title {
      font-size: 2.5rem;
   }
}


/* === CATEGORIES === */
.categories-slider {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   position: relative;
}
.categories-slider__item {
   padding: 30px 20px;
   max-width: 330px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-basis: 33%;

   border-right: 1px solid rgba($gray, .3);
   &:last-child {
      border: none;
   }
}
.categories-slider__item-img {
   width: 50%;
   min-height: 110px;
   position: relative;
   img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }
}
.categories-inner__item-content {
   margin-left: 30px;
   max-width: 100px;
}
.categories-slider__item-title {
   max-height: 50px;
   margin-bottom: 20px;
   font-size: 1.6rem;
   color: $gray;
   overflow: hidden;
}
.slick-initialized .slick-slide {
   width: 33%;
   display: flex;
}
.slick-arrow {
   width: 50px;
   height: 50px;

   border: 1px solid #dbdbdb; 
   border-top-width: 0;
   border-left-color: transparent;
   font-size: 0;

   position: absolute;
   top: 50%;
}
.slick-prev {
   left: -50px;
   transform: translateY(-50%) rotate(135deg);
}
.slick-next {
   right: -50px;
   transform: translateY(-50%) rotate(-45deg);
}

@media (min-width: $screen-lg-min) {
   .categories-slider__item {
      padding: 30px 20px;
   }
   .categories-slider__item-content {
      margin-left: 30px;
   }   
}

@media (max-width: $screen-lg-max) {
   .categories-slider__item {
      padding: 30px 10px;
   }
   .categories-slider__item-content {
      margin-left: 20px;
   }  
}

@media (max-width: $screen-md-max) {
   .categories-slider__item {
      flex-basis: 50%;
      &:last-child {
         display: none;
      }
      &:nth-child(2) {
         border-right: none;
      }
   }
}

@media (max-width: $screen-xs-max) {
   .categories-slider__item {
      flex-basis: 100%;
      border-right: none;
      &:nth-child(2) {
         display: none;
      }
   }
}


// Btn
.btn {
   display: inline-block;
   padding: 7px 20px 5px;

   font-size: 1.1rem;
   letter-spacing: 1px;
   text-transform: uppercase;

   background-color: $green;
   border-radius: $radius;
   transition: all .2s linear;
   &:hover {
      background-color: lighten($green, 10%);
   }
}
.btn-o {
   padding: 10px 25px 8px;
   font-size: 1.5rem;
   background: none;
   border: 3px solid $white;
   &:hover, &:active {
      color: $primary;
      background: $white;
   }
}
.btn--white-text {
   color: $white;
}

// Section
.section-header {
   padding: 20px 50px 14px;
   background-color: $primary;
}
.section-header__title {
   font-size: 1.8rem;
   text-transform: uppercase;
}

@media (max-width: $screen-xs-max) {
   .section-header {
      padding-left: 10px;
      padding-right: 10px;
   }
}


/* === PRODUCTS === */
.products-inner {
   padding: 50px 50px 70px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
}
.products-item {
   margin-bottom: 40px;
   padding: 20px 20px 30px;

   box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
   text-align: center;
   font-size: 1.5rem;
   color: $gray;

   transition: all .2s linear;
   position: relative;
   &:before {
      content: '';
      display: block;
      width: 100%;
      height: 5px;
      background-color: $green;

      position: absolute;
      left: 0; bottom: 0;
   }
   &:hover {
      transform: translateY(-10px);
      box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
   }
}
.products-item__img-wrap {
   margin-bottom: 20px;
   min-height: 116px;
   position: relative;
   img {
      max-width: 100%;
      max-height: 100%;
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%);
   }
}
.products-item__name  {
   margin-bottom: 12px;
   overflow: hidden;
   
   text-transform: uppercase;
   white-space: nowrap;
   text-overflow: ellipsis;
}
.products-item__buy-price {
   margin-right: 15px;
}


@media (min-width: $screen-xs-min) {
   .products-item {
      width: 47%;
   }   
}

@media (min-width: $screen-md-min) {
   .products-item {
      width: 30%;
   }   
}

@media (max-width: $screen-xs-max) {
   .products {
      padding-left: 10px;
      padding-right: 10px;
   }   
   .products-item {
      padding: 50px 30px 70px;
      width: 100%;
   }
}


/* === FOOTER === */
.footer {
   padding: 40px 60px 90px;
   background-color: $primary;
   position: relative;
   &:after {
      content: '';
      display: block;
      width: 100%;
      height: 50px;
      background-color: $dark-primary;
      position: absolute;
      left: 0; bottom: 0;
   }
}
.footer-inner {
   display: flex;
   justify-content: space-between;
   color: $white;
}
.footer-inner__col {
   max-width: 20%;
   white-space: nowrap;
}
.footer-inner__col-title {
   margin-bottom: 25px;
   
   letter-spacing: 1px;
   font-size: 1.5rem;
   text-transform: uppercase;
   
   text-overflow: ellipsis;
   overflow: hidden;
}
.footer-inner__col-link {
   margin-bottom: 15px;
   display: block;
   
   @include secondary-font;
   font-size: 0.9rem;
   transition: color .1s;
   text-overflow: ellipsis;
   overflow: hidden;
   &:hover {
      color: rgba($white, .5);
   }
}


@media (max-width: $screen-md-max) {
   .footer {
      padding: 40px 10px 90px;
   }   
   .footer-inner {
      width: 100%;
      align-items: center;
      flex-direction: column;
   }   
   .footer-inner__col {
      margin-bottom: 20px;
      width: 60%;
      max-width: 100%;
      background-color: rgba(#fff, .1);
      border: 1px solid $white;
   }
   .footer-inner__col-title {
      margin: 0;
      padding: 5px 20px 2px 10px;
      position: relative;
      &:after {
         content: '';
         display: block;
         width: 20px;
         height: 20px;

         border: 2px solid #fff;
         border-top-width: 0;
         border-left-width: 0;

         position: absolute;
         top: 0; right: 20px;
         transform: rotate(45deg);
      }
   }
   .footer-inner__col-link {
      font-size: 0;
      margin: 0;
   }
}

@media (max-width: $screen-xs-max)  {
   .footer-inner__col {
      width: 100%;
   }
}



