body {
  font-family: 'Bebas Neue', cursive;
  font-size: 17px;
  color: #fff;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}

button {
  border: none;
  background: none;
}

.container {
  width: 100%;
  max-width: 1064px;
  margin: 0 auto;
  padding: 0 20px;
}

/* === HEADER === */
.header-top {
  padding: 20px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 110px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo img {
  max-width: 100%;
}

.search-form {
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 430px;
}

.search-field {
  padding-left: 15px;
  padding-right: 40px;
  width: 100%;
  height: 31px;
  color: #afafaf;
  border: 1px solid #e1e1e1;
}

.search-field:focus {
  border: 1px solid #3dc4b5;
}

.search-btn {
  width: 22px;
  height: 22px;
  background: url("../img/header/search.png") no-repeat;
}

.basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.basket__amount {
  margin-left: 15px;
  font-size: 2rem;
  color: #a1a1a1;
}

@media (min-width: 480px) {
  .search-form {
    position: relative;
  }
  .search-btn {
    position: absolute;
    top: 50%;
    right: 8px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media (max-width: 479px) {
  .header-top {
    padding: 20px 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .search-form {
    width: auto;
  }
  .search-field {
    display: none;
  }
}

.nav {
  background: #4ccfc1;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.08);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.nav-inner {
  padding: 9px 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  white-space: nowrap;
  -webkit-transition: all .1s ease-out;
  transition: all .1s ease-out;
}

.nav__item {
  margin: 0 auto;
}

.nav__link {
  -webkit-transition: color .1s;
  transition: color .1s;
}

.nav__link:hover {
  color: #d9f4f1;
}

@media (min-width: 1024px) {
  .nav-inner > li + li::before {
    content: '|';
    padding: 0 10px;
  }
}

@media (max-width: 1023px) {
  .nav {
    height: 0;
  }
  .nav-inner {
    font-size: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__item {
    margin: 0 10px 20px 5px;
  }
}

@media (max-width: 575px) {
  .nav-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.burger__toggle:checked ~ .burger__item > span {
  background: none;
}

.burger__toggle:checked ~ .burger__item > span::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger__toggle:checked ~ .burger__item > span::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger__toggle {
  display: none;
}

.burger__item {
  margin-right: auto;
  margin-left: 50px;
  display: none;
  width: 45px;
  height: 40px;
  cursor: pointer;
  background-color: #3dc4b5;
  border-radius: 5px;
  position: relative;
}

.burger__item > span {
  display: inline-block;
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  -webkit-transition: background .09s linear;
  transition: background .09s linear;
}

.burger__item > span::before, .burger__item > span::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #fff;
  -webkit-transition: -webkit-transform .1s linear;
  transition: -webkit-transform .1s linear;
  transition: transform .1s linear;
  transition: transform .1s linear, -webkit-transform .1s linear;
}

.burger__item > span::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.burger__item > span::after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

@media (max-width: 1023px) {
  .burger__item {
    display: block;
    margin-bottom: 30px;
  }
  .burger__toggle:checked ~ .nav {
    height: auto;
    background-color: rgba(61, 196, 181, 0.6);
  }
  .burger__toggle:checked ~ .nav .nav-inner {
    font-size: 1rem;
    padding: 20px 0 5px;
  }
}

@media (max-width: 479px) {
  .burger__item {
    margin: 0 auto 20px;
  }
}

/* === INTRO === */
.intro {
  background: #3dc4b5;
}

.intro-inner {
  padding: 65px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__wrap-img img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.intro-content {
  margin-left: 30px;
  max-width: 400px;
  color: #fff;
  word-wrap: break-word;
}

.intro-content__title {
  margin-bottom: 20px;
  max-height: 7rem;
  font-size: 3.8rem;
  text-transform: uppercase;
  overflow: hidden;
}

.intro-content__text {
  margin-bottom: 30px;
  max-height: 120px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
}

.intro-content__btn {
  display: inline-block;
  padding: 10px 25px 8px;
  font-size: 1.5rem;
  letter-spacing: 1px;
  border: 3px solid #fff;
  border-radius: 5px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.intro-content__btn:hover, .intro-content__btn:active {
  color: #3dc4b5;
  background: #fff;
}

@media (max-width: 767px) {
  .intro-content__title {
    font-size: 3.2rem;
  }
}

@media (max-width: 575px) {
  .intro-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro__wrap-img {
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
  }
  .intro-content {
    margin-left: 0;
    text-align: center;
  }
  .intro-content__title {
    font-size: 2.5rem;
  }
}

/* === CATEGORIES === */
.categories-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categories-inner__item {
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  border-right: 1px solid rgba(175, 175, 175, 0.3);
}

.categories-inner__item:last-child {
  border: none;
}

.categories-inner__item-img {
  width: 50%;
  position: relative;
}

.categories-inner__item-img img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.categories-inner__item-content {
  margin-left: 30px;
  max-width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.categories-inner__item-title {
  margin-bottom: 20px;
  font-size: 1.6rem;
  color: #afafaf;
}

@media (min-width: 992px) {
  .categories-inner__item {
    padding: 30px 20px;
  }
  .categories-inner__item-content {
    margin-left: 30px;
  }
}

@media (max-width: 991px) {
  .categories-inner__item {
    padding: 30px 10px;
  }
  .categories-inner__item-content {
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .categories-inner__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .categories-inner__item:last-child {
    display: none;
  }
  .categories-inner__item:nth-child(2) {
    border-right: none;
  }
}

@media (max-width: 479px) {
  .categories-inner__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    border-right: none;
  }
  .categories-inner__item:nth-child(2) {
    display: none;
  }
}

.btn {
  padding: 7px 20px 5px;
  font-size: 1.1rem;
  text-transform: uppercase;
  background-color: #3cc395;
  border-radius: 5px;
  -webkit-transition: background .1s linear;
  transition: background .1s linear;
}

.btn:hover {
  background-color: #63cfaa;
}

.section-header {
  padding: 20px 50px 14px;
  background-color: #3dc4b5;
}

.section-header__title {
  font-size: 1.8rem;
  text-transform: uppercase;
}

@media (max-width: 479px) {
  .section-header {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* === PRODUCTS === */
.products {
  padding: 50px 50px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products-item {
  margin-bottom: 40px;
  padding: 20px 20px 30px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  text-align: center;
  font-size: 1.5rem;
  color: #afafaf;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  position: relative;
}

.products-item:before {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-color: #3cc395;
  position: absolute;
  left: 0;
  bottom: 0;
}

.products-item:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
}

.products-item__img-wrap {
  margin-bottom: 20px;
  min-height: 116px;
  position: relative;
}

.products-item__img-wrap img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.products-item__name {
  margin-bottom: 12px;
  overflow: hidden;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.products-item__buy .btn {
  color: #fff;
}

.products-item__buy-price {
  margin-right: 15px;
}

@media (min-width: 480px) {
  .products-item {
    width: 47%;
  }
}

@media (min-width: 768px) {
  .products-item {
    width: 30%;
  }
}

@media (max-width: 479px) {
  .products {
    padding-left: 10px;
    padding-right: 10px;
  }
  .products-item {
    padding: 50px 30px 70px;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */