body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  padding: 0 20px;
  width: 100%;
  max-width: 1160px;
  margin: auto;
}

.form__field {
  padding: 20px 25px;
  border: none;
  border-radius: 10px;
}

.form__field::-webkit-input-placeholder {
  color: #757575;
  font-weight: 600;
}

.form__field:-ms-input-placeholder {
  color: #757575;
  font-weight: 600;
}

.form__field::-ms-input-placeholder {
  color: #757575;
  font-weight: 600;
}

.form__field::placeholder {
  color: #757575;
  font-weight: 600;
}

.form__field--subs {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.form__field__textarea {
  resize: none;
}

@media (max-width: 575px) {
  .form-subscribe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__field--subs {
    margin-bottom: 30px;
  }
}

@media (min-width: 576px) {
  .form__field--subs {
    margin-right: 30px;
  }
}

.section {
  padding: 100px 0;
}

.section-header {
  text-align: center;
  color: #3b434c;
}

.section-header--white {
  color: #fff;
}

.section-header-title {
  margin-top: 0;
  font-size: 2.105rem;
  text-transform: uppercase;
}

.section-header-title__word {
  color: #f7600e;
}

.section-header__description {
  max-width: 455px;
  margin: 0 auto 100px;
  line-height: 1.9;
}

@media (max-width: 575px) {
  .section {
    padding: 60px 0;
  }
  .section-header__description {
    margin-bottom: 50px;
  }
}

.btn {
  padding: 20px 0;
  max-width: 210px;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #f7600e;
  border: none;
  border-radius: 10px;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.btn:hover {
  background-color: #e45508;
}

.btn:active {
  background-color: #3b434c;
}

.btn--white {
  color: #f7600e;
  font-weight: 600;
  background-color: #fff;
}

.btn--white:hover {
  background-color: #ededed;
}

.btn--subs {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.btn-o {
  padding: 15px 0;
  color: #3b434c;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #eceded;
}

.btn-o:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 479px) {
  .btn--white {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__link {
  width: 24px;
  height: 24px;
  margin: 5px;
  -webkit-transition: opacity .1s;
  transition: opacity .1s;
}

.socials__link:hover {
  opacity: 0.8;
}

.socials__link--big {
  width: 43px;
  height: 43px;
  margin: 10px;
}

@media (max-width: 479px) {
  .socials__link {
    width: 20%;
  }
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header__inner {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}

.intro {
  height: 100vh;
  min-height: 860px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #313539 url(../img/intro-bg.jpg) no-repeat center/cover;
}

.intro__inner {
  max-width: 774px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.intro__title {
  font-size: 4.3rem;
  font-weight: 900;
  text-transform: uppercase;
}

.intro__text {
  margin-bottom: 65px;
  font-size: 1.5rem;
  line-height: 1.7;
}

.intro-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro-buttons__btn {
  margin-right: 25px;
}

.intro-buttons__btn:last-child {
  margin-right: 0;
}

@media (max-width: 575px) {
  .intro .intro__title {
    font-size: 3rem;
  }
  .intro .intro-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro .intro-buttons__btn {
    margin: 0 auto 20px;
  }
}

.features {
  background-color: #fff;
}

.features__inner {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features-item {
  margin-bottom: 40px;
  text-align: center;
}

.features-item__title {
  margin: 25px 0 30px;
  color: #3b434c;
  text-transform: uppercase;
}

.features-item__text {
  max-width: 200px;
  margin: 0 auto;
}

@media (min-width: 480px) and (max-width: 991px) {
  .features__inner {
    max-width: 550px;
    margin: 0 auto;
  }
}

@media (max-width: 479px) {
  .features-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.subscribe {
  background: #313539 url(../img/subs-form-bg.jpg) no-repeat center/cover;
}

.subscribe-form {
  padding: 100px 20px;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.works-card {
  margin-bottom: 20px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.works-card:hover .works-card-info {
  opacity: 1;
}

.works-card__img {
  max-width: 100%;
  height: auto;
  display: block;
}

.works-card-info {
  padding: 10px;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  color: #fff;
  background-color: rgba(247, 96, 14, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.works-card-info__title {
  margin-top: 0;
  font-size: 1.45rem;
  text-transform: uppercase;
}

.works-card-info__text {
  max-width: 250px;
  margin: 0 auto 40px;
  text-align: center;
  font-size: .9rem;
}

.works__btn {
  display: block;
  margin: 80px auto 0;
}

@media (max-width: 1199px) {
  .works__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .works-card {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (max-width: 767px) {
  .works-card {
    margin-left: 0;
    margin-right: 0;
  }
  .works__btn {
    margin-top: 30px;
  }
}

.reviews {
  padding: 100px 0;
  background: #3b434c url(../img/reviews/reviews-bg.jpg) no-repeat center/cover;
}

.reviews-slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  position: relative;
}

.reviews-slider__item::before, .reviews-slider__item::after {
  content: '';
  width: 40px;
  height: 40px;
  border: 2px solid #65686b;
  border-top-color: transparent;
  border-right-color: transparent;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.reviews-slider__item::before {
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.reviews-slider__item::after {
  right: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.reviews__author-img {
  margin-bottom: 50px;
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
}

.reviews__text {
  margin-bottom: 40px;
  max-width: 800px;
  font-size: 1.45rem;
  line-height: 2.2;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

.reviews__author {
  font-size: 1.1rem;
  font-weight: 600;
}

@media (max-width: 991px) {
  .reviews-slider__item::before, .reviews-slider__item::after {
    top: 35%;
  }
  .reviews-slider__item::before {
    left: 30%;
  }
  .reviews-slider__item::after {
    right: 30%;
  }
  .reviews__author-img {
    margin-bottom: 100px;
  }
}

@media (max-width: 767px) {
  .reviews {
    padding: 60px 0;
  }
}

@media (max-width: 479px) {
  .reviews__text {
    line-height: 1.6;
  }
}

.team {
  background-color: #fff;
}

.team-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.team-slider__item {
  margin-bottom: 30px;
  color: #9da1a5;
  text-align: center;
}

.team-slider__item:hover * {
  color: #3b434c;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.team-slider__item:hover .team-slider__img-wrap {
  -webkit-transform: scale(1.1) translateY(-15px);
          transform: scale(1.1) translateY(-15px);
}

.team-slider__item:hover .team-slider__img-wrap::before {
  opacity: 1;
}

.team-slider__item * {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.team-slider__img-wrap {
  margin-bottom: 30px;
  position: relative;
  border-radius: 10px;
}

.team-slider__img-wrap::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: #f7600e;
  -webkit-transition: all .2s;
  transition: all .2s;
  opacity: 0;
}

.team-slider__img {
  display: block;
  max-width: 100%;
  width: 100%;
  border-radius: 10px;
}

.team-slider__name {
  margin-bottom: 28px;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.team-slider__text {
  margin-top: 25px;
  font-size: .9rem;
}

@media (min-width: 992px) {
  .team-slider__item {
    width: 23%;
  }
}

@media (max-width: 991px) {
  .team-slider__item {
    width: 40%;
  }
}

@media (max-width: 479px) {
  .team-slider__item {
    width: 100%;
  }
}

.footer {
  padding: 100px 0 200px;
  position: relative;
  color: #fff;
  background: #3b434c url(../img/footer-bg.jpg) no-repeat center/cover;
}

.footer-inner {
  padding: 0 20px;
  max-width: 850px;
  margin: 0 auto;
}

.footer-form {
  margin-bottom: 30px;
}

.footer-form-fields {
  margin: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-form__data {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 15px 30px;
}

.footer-form__textarea {
  width: 100%;
  height: 200px;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__btn {
  margin-bottom: 30px;
}

.footer-copyright {
  padding: 45px 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: #3b434c;
}

@media (min-width: 576px) {
  .footer__btn {
    margin: 0;
  }
}

@media (max-width: 575px) {
  .footer-copyright {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media (max-width: 479px) {
  .footer__btn {
    max-width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */