/* Import */
@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe-Regular.eot");
  src: local("Circe"), local("Circe-Regular"), url("../fonts/Circe-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Regular.woff") format("woff"), url("../fonts/Circe-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe-Bold.eot");
  src: local("Circe Bold"), local("Circe-Bold"), url("../fonts/Circe-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Bold.woff") format("woff"), url("../fonts/Circe-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'IntroScript';
  src: url("../fonts/IntroScriptR-H2Base.eot");
  src: url("../fonts/IntroScriptR-H2Base.eot?#iefix") format("embedded-opentype"), url("../fonts/IntroScriptR-H2Base.woff") format("woff"), url("../fonts/IntroScriptR-H2Base.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url("PlayfairDisplay-Bold.eot");
  src: url("PlayfairDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("PlayfairDisplay-Bold.woff") format("woff"), url("PlayfairDisplay-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url("PlayfairDisplay-BoldItalic.eot");
  src: url("PlayfairDisplay-BoldItalic.eot?#iefix") format("embedded-opentype"), url("PlayfairDisplay-BoldItalic.woff") format("woff"), url("PlayfairDisplay-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?xgw4na");
  src: url("fonts/icomoon.eot?xgw4na#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?xgw4na") format("truetype"), url("fonts/icomoon.woff?xgw4na") format("woff"), url("fonts/icomoon.svg?xgw4na#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e902";
  color: #e4405f;
}

.icon-twitter:before {
  content: "\e900";
}

.icon-vk:before {
  content: "\e901";
}

/* Colors */
/* /Colors */
/* Media */
/* /Media */
/* Default styles*/
html {
  font-size: 18px;
}

body {
  font-family: 'Circe';
  font-size: 1rem;
  color: #2e2829;
  background-color: #fbebea;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:active,
*:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

button {
  background: none;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1270px;
  padding: 0 15px;
}

/* /Default styles*/
/* === HEADER === */
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header-inner {
  padding: 70px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-inner a {
  -webkit-transition: color .15s;
  transition: color .15s;
}

.header-inner a:hover {
  color: #f50049;
}

.header__number {
  margin-left: auto;
  font-weight: 700;
}

.nav__link {
  margin: 0 20px;
}

.burger {
  margin-left: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger-toggle {
  display: none;
}

.burger-item {
  display: none;
  width: 26px;
  height: 16px;
}

.burger-item span {
  display: inline-block;
  width: 100%;
  height: 2px;
  margin-bottom: 6px;
  background-color: #000;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
  position: relative;
}

.burger-item span::before, .burger-item span::after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.burger-item span::before {
  top: 7px;
}

.burger-item span::after {
  top: -7px;
}

@media (max-width: 1199px) {
  .nav {
    display: none;
  }
  .burger {
    position: relative;
  }
  .burger-item {
    display: inline-block;
  }
  .burger-toggle:checked + label span {
    background-color: transparent;
  }
  .burger-toggle:checked + label span::before {
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .burger-toggle:checked + label span::after {
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .burger-toggle:checked ~ .nav {
    padding: 30px 50px;
    width: 290px;
    display: block;
    top: 50px;
    background-color: #fff;
    position: absolute;
  }
  .burger-toggle:checked ~ .nav .nav__link {
    display: block;
    margin: 15px 0;
  }
}

@media (max-width: 767px) {
  .header {
    background-color: #fff;
  }
  .header-inner {
    padding: 20px 0;
  }
}

@media (max-width: 479px) {
  .header-inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__number {
    display: none;
  }
  .nav {
    right: 0;
  }
}

/* === INTRO === */
.intro {
  margin-top: 110px;
  min-height: 100vh;
  background: url("../img/intro/intro-cake-bg.png") no-repeat right -160px top/contain, url("../img/intro/strawberry-bg.png") no-repeat 40% 10%;
}

.intro-inner {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.intro__title {
  margin-bottom: 5px;
  max-width: 290px;
  font-family: 'PlayfairDisplay', serif;
  font-size: 4.3rem;
  line-height: 1;
}

.intro__subtitle {
  margin-bottom: 50px;
  font-family: 'IntroScript', sans-serif;
  font-size: 2.2rem;
}

.intro__btn {
  margin-bottom: 150px;
}

.intro-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.intro-advantages__item {
  padding: 15px 0 5px 73px;
  margin-right: 70px;
  max-width: 150px;
  position: relative;
}

.intro-advantages__item:before {
  content: '';
  width: 55px;
  height: 55px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/interface/ingredient-ico.png") no-repeat;
}

.intro-advantages__item:last-child {
  margin-right: 0;
  max-width: 300px;
}

.intro-advantages__item:last-child:before {
  background: url("../img/interface/gift-ico.png") no-repeat;
}

@media (max-width: 1199px) {
  .intro {
    height: 70vh;
    background-size: 60%, 30%;
  }
}

@media (max-width: 767px) {
  .intro {
    background-size: 80%, 30%;
  }
}

@media (max-width: 575px) {
  .intro {
    background-position: left 50% top -357px,  40% 10%;
    background-size: 100%, 30%;
    margin-top: 63px;
  }
  .intro-inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .intro__title {
    text-align: center;
  }
  .intro__btn {
    margin: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .intro-advantages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro-advantages__item {
    margin: 0 0 30px;
    max-width: 100%;
  }
  .intro-advantages__item:last-child {
    max-width: 100%;
  }
}

@media (max-width: 479px) {
  .intro {
    background-position: left 50% top -207px,  40% 10%;
  }
}

.btn {
  max-width: 260px;
  padding: 20px 60px;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  background-color: #f50049;
  border-radius: 30px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.btn:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 5px 7px 1px rgba(255, 0, 67, 0.3);
          box-shadow: 0 5px 7px 1px rgba(255, 0, 67, 0.3);
}

@media (max-width: 991px) {
  .btn {
    padding: 17px 40px;
  }
}

.section__title {
  margin-bottom: 5px;
  font-family: 'PlayfairDisplay';
  font-size: 2.2rem;
  color: #2e2829;
  font-weight: 700;
  word-break: break-word;
}

.section__subtitle {
  font-family: 'IntroScript';
  font-size: 1.9rem;
}

@media (max-width: 479px) {
  .section__title {
    font-size: 1.8rem;
  }
  .section__subtitle {
    font-size: 1.5rem;
  }
}

@media (max-width: 991px) {
  .section__title {
    font-size: 1.7rem;
  }
  .section__subtitle {
    font-size: 1.5rem;
  }
}

/* === CAKES === */
.cakes {
  padding: 100px 0;
}

.cakes__title {
  margin-bottom: 60px;
}

.cakes-box {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cakes-box__item-big {
  width: 57%;
}

.cakes-box__col {
  width: 39%;
}

.cakes-box__item {
  min-height: 305px;
  background-color: #fff;
  position: relative;
}

.cakes-box__item-heading {
  position: absolute;
  top: 40px;
  left: 47px;
  z-index: 10;
}

.cakes-box__item-img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cakes-box__item-name {
  font-size: 1.3rem;
}

.cakes-box__item-kind {
  font-size: 1.1rem;
  color: #959293;
  font-weight: 600;
}

.cakes-box__item-link {
  position: absolute;
  bottom: 36px;
  right: 62px;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.cakes-box__item-link:hover {
  opacity: .9;
}

.cakes-box__item-link:hover .arrow-link {
  -webkit-transform: scale(0.95) translateX(10px);
          transform: scale(0.95) translateX(10px);
}

.cakes-box__item-link .arrow-link {
  margin-left: 10px;
}

@media (max-width: 1199px) {
  .cakes-box {
    display: block;
  }
  .cakes-box__item-big {
    width: 100%;
    margin-bottom: 42px;
  }
  .cakes-box__col {
    margin-bottom: 42px;
    margin-left: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .cakes-box__col > .cakes-box__item {
    margin: 0 5px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media (max-width: 991px) {
  .cakes-box__col {
    display: block;
  }
  .cakes-box__col .cakes-box__item {
    margin: 0 0 42px;
  }
  .cakes-box__item-link {
    display: none;
  }
}

@media (max-width: 479px) {
  .cakes-box__item-heading {
    top: 13px;
    left: 13px;
  }
  .cakes-box__item {
    overflow: hidden;
  }
  .cakes-box__item-img {
    max-width: none;
  }
}

@media (min-width: 1200px) {
  .cakes-box__col > .cakes-box__item {
    margin-bottom: 42px;
  }
  .cakes-box__col > .cakes-box__item:last-child {
    margin-bottom: 0;
  }
}

.arrow-link {
  width: 17px;
  height: 18px;
  vertical-align: middle;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

/* === ORDER === */
.order {
  padding-bottom: 110px;
  background: url(../img/interface/decoration-left.png) no-repeat bottom left, url(../img/interface/decoration-right.png) no-repeat bottom right;
}

/* order-filling */
.order-heading {
  text-align: center;
}

.order-steps {
  margin-top: 50px;
}

.order-block {
  padding: 70px 83px;
  margin-bottom: 35px;
  overflow: hidden;
  -webkit-box-shadow: 0 7px 13px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 7px 13px 1px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.order-block__step-stage {
  min-width: 170px;
  max-width: 176px;
  font-family: 'PlayfairDisplay';
  font-size: 1.5rem;
  color: #f50049;
  font-weight: 700;
}

.order-block__step-number {
  font-size: 3.2rem;
}

.order-filling {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.order-filling__slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-filling__slider-content {
  margin-left: 40px;
  max-width: 278px;
}

.order-filling__slider-cake-name {
  margin-bottom: 10px;
  font-size: 1.1rem;
  font-weight: 700;
}

.order-slider__text {
  margin-bottom: 24px;
  line-height: 1.3;
}

.order-slider__cake-price {
  display: inline-block;
  margin-bottom: 50px;
  font-family: 'PlayfairDisplay';
  font-size: 1.2rem;
  font-weight: 700;
}

.order-slider {
  margin-left: 35px;
}

.order-slider .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.order-slider .slick-slide:focus {
  outline: none;
}

.order-slider .slick-list {
  max-width: 90%;
}

.order-slider .slick-track {
  width: 100%;
}

.order-slider.slick-slider {
  position: relative;
  max-width: 90%;
}

.order-slider .slick-arrow,
.order-decor .slick-arrow,
.reviews-slider .slick-arrow {
  width: 9px;
  height: 16px;
  font-size: 0;
  color: transparent;
  background-color: #f17d91;
  fill: #f17d91;
  position: absolute;
  top: 50%;
  z-index: 10;
}

.order-slider .slick-arrow:focus,
.order-decor .slick-arrow:focus,
.reviews-slider .slick-arrow:focus {
  outline: none;
  fill: #000;
}

.order-slider .slick-prev {
  left: -90px;
  background: url("../img/interface/slider-arrow-prev.svg") no-repeat center/contain;
}

.order-slider .slick-next {
  right: 150px;
  background: url("../img/interface/slider-arrow-next.svg") no-repeat center/contain;
}

/* order-size */
.order-size {
  text-align: center;
}

.order-size__slider.slick-slider {
  position: relative;
  margin-bottom: 50px;
}

.order-size__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.order-size__slider-item {
  margin-right: 35px;
  text-align: center;
}

.order-size__slider-item:last-child {
  margin-right: 0;
}

.order-size__slider-item-img {
  margin-bottom: 35px;
}

.order-size__slider-item-img img {
  display: block;
  margin: 0 auto;
}

.order-size__slider-item-text {
  margin-bottom: 10px;
}

.order-size__slider .slick-list {
  width: 100%;
}

.order-size__slider .slick-dots,
.order-decor__slider .slick-dots,
.reviews-slider .slick-dots {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  font-size: 0;
}

.order-size__slider .slick-dots li,
.order-decor__slider .slick-dots li,
.reviews-slider .slick-dots li {
  margin: 5px;
  width: 6px;
  height: 6px;
  background-color: #ddd;
  border-radius: 50%;
}

.order-size__slider .slick-dots .slick-active,
.order-decor__slider .slick-dots .slick-active,
.reviews-slider .slick-dots .slick-active {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  background-color: #f50049;
}

/* order-decor */
.order-decor {
  background: #fff url("../img/order/order-decor/order-decor-bg.png") no-repeat top 50% left 20px;
}

.order-decor .order-block__step-stage {
  margin-bottom: 30px;
}

.order-decor__title {
  margin-bottom: 20px;
  font-family: 'PlayfairDisplay';
  font-size: 1.5rem;
}

.order-decor-inner {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.order-decor__slider-item {
  margin: 0 20px;
  padding: 30px 20px 80px;
  max-width: 320px;
  min-width: 260px;
  -webkit-box-shadow: 0 7px 13px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 7px 13px 1px rgba(0, 0, 0, 0.05);
  text-align: center;
  position: relative;
}

.order-decor__slider-item-img {
  display: block;
  max-width: 100%;
  max-width: 100%;
}

.order-decor__slider-info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  z-index: 10;
}

.order-decor__slider-info span {
  font-family: 'PlayfairDisplay';
  font-size: 1.2rem;
  font-weight: 600;
}

.order-slider__counter {
  color: #a7a7a7;
  position: absolute;
  right: 30px;
  bottom: 20px;
}

.order-decor__slider {
  margin-left: 90px;
}

.order-decor__slider .slick-list {
  overflow: hidden;
  padding: 20px 10px;
}

.order-decor__slider.slick-slider {
  position: relative;
  width: 100%;
  max-width: 700px;
}

.order-decor__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.order-decor__slider .slick-arrow {
  background: url("../img/interface/slider-arrow-prev.svg") no-repeat center/contain;
}

.order-decor__slider .slick-prev {
  left: -70px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.order-decor__slider .slick-arrow {
  background: url("../img/interface/slider-arrow-next.svg") no-repeat center/contain;
}

.order-decor__slider .slick-next {
  right: -70px;
}

.order-decor__slider .slick-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px;
}

.order-decor__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order-decor__form-item {
  width: 20%;
}

.order-decor__form-item--width {
  max-width: 140px;
}

.order-decor__form-item-caption {
  margin-bottom: 20px;
  font-family: 'IntroScript';
  font-size: 1.5rem;
  font-weight: 600;
  color: #f50049;
}

.order-decor__form-field {
  max-width: 100%;
  padding: 10px 10px 10px 0;
  border: none;
  border-bottom: 2px solid #c1b0af;
}

.order-decor__form-field::-webkit-input-placeholder {
  color: #2e2829;
}

.order-decor__form-field:-ms-input-placeholder {
  color: #2e2829;
}

.order-decor__form-field::-ms-input-placeholder {
  color: #2e2829;
}

.order-decor__form-field::placeholder {
  color: #2e2829;
}

.order-decor__form-btn {
  padding-left: 40px;
  padding-right: 40px;
}

@media (max-width: 1199px) {
  .order {
    padding-bottom: 80px;
    background-size: 470px;
  }
  .order-decor__slider {
    margin-left: 10px;
  }
  .order-decor__slider .slick-prev {
    left: -30px;
  }
  .order-decor__slider .slick-next {
    right: -30px;
  }
  .order-slider__counter {
    right: -50px;
  }
}

@media (max-width: 991px) {
  .order {
    padding-bottom: 50px;
    background-size: 350px;
  }
  .order-block {
    padding: 30px 26px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .order-block__step-stage {
    margin-bottom: 60px;
  }
  .order-slider .slick-next {
    right: 0;
  }
  .order-size__slider-item:nth-child(2n) {
    margin-right: 0;
  }
  .order-decor__form-field {
    padding: 10px 25px;
    border-radius: 30px;
    border: 1px solid #dddddd;
    text-align: center;
  }
  .order-decor__form-field::-webkit-input-placeholder {
    font-size: .9rem;
  }
  .order-decor__form-field:-ms-input-placeholder {
    font-size: .9rem;
  }
  .order-decor__form-field::-ms-input-placeholder {
    font-size: .9rem;
  }
  .order-decor__form-field::placeholder {
    font-size: .9rem;
  }
  .order-decor {
    background-size: 150px;
  }
  .order-decor-inner {
    margin-bottom: 100px;
  }
  .order-decor__slider.slick-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .order-decor__slider-item.slick-slide {
    max-width: 200px;
  }
  .order-decor__slider .slick-list {
    max-width: 620px;
  }
  .order-slider__counter {
    display: none;
  }
}

@media (max-width: 767px) {
  .order {
    padding-bottom: 0;
    background: none;
  }
  .order-block__step-stage {
    margin-bottom: 25px;
    text-align-last: left;
  }
  .order-size__slider-item {
    margin-right: 0;
  }
  .order-size__slider-item-info {
    margin-top: 70px;
  }
  .order-size__slider .slick-dots {
    position: absolute;
    left: 0;
    right: 0;
    top: 56%;
  }
  .order-decor {
    background-image: none;
  }
  .order-decor-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .order-decor__slider.slick-slider {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  .order-decor__slider .slick-list {
    padding: 20px 10px;
  }
  .order-decor__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .order-decor__form-item {
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
  }
  .order-decor__form-item--width {
    max-width: none;
  }
  .order-decor__form-item-caption {
    margin-bottom: 5px;
  }
  .order-decor__form-btn {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .order-block__step-number {
    font-size: 2.2rem;
  }
  .order-decor__slider .slick-list {
    max-width: 300px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 479px) {
  .order-block__step-stage {
    font-size: 1.3rem;
  }
  .order-decor__slider .slick-list {
    max-width: 300px;
  }
  .order-decor__slider-item {
    min-width: 200px;
  }
}

/* === REVIEWS === */
.reviews__title {
  margin-top: 115px;
  margin-bottom: 60px;
}

.reviews__inner {
  padding-bottom: 50px;
  text-align: center;
}

.reviews-slider__img-wrap {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}

.reviews-slider__img-wrap img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.reviews-slider__content {
  max-width: 350px;
  margin-left: 50px;
  text-align: left;
}

.reviews-slider__name {
  margin-bottom: 7px;
  font-size: 1.5rem;
  font-weight: 600;
}

.reviews-slider__subtitle {
  margin-bottom: 25px;
}

.reviews-slider__text {
  max-height: 115px;
  line-height: 1.3;
  text-overflow: ellipsis;
  overflow: hidden;
}

.reviews-slider.slick-initialized .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews-slider .slick-next {
  right: 180px;
  background: url("../img/interface/slider-arrow-next.svg") no-repeat center/contain;
}

.reviews-slider .slick-prev {
  left: 180px;
  background: url("../img/interface/slider-arrow-prev.svg") no-repeat center/contain;
}

@media (max-width: 1199px) {
  .reviews-slider__img-wrap {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 991px) {
  .reviews-slider .slick-arrow::before {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: -180%;
    z-index: -1;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    border-radius: 50%;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
  }
  .reviews-slider .slick-next {
    right: 40px;
  }
  .reviews-slider .slick-prev {
    left: 40px;
  }
}

@media (max-width: 575px) {
  .reviews-slider.slick-initialized .slick-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reviews-slider .slick-dots {
    margin-top: 10px;
  }
  .reviews-slider__img-wrap {
    width: 110px;
    height: 110px;
    margin-bottom: 10px;
  }
  .reviews__title {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .reviews-slider__content {
    margin: 0;
    max-width: 230px;
    text-align: center;
  }
  .reviews-slider__name {
    margin-bottom: 0;
  }
  .reviews-slider__subtitle {
    margin-bottom: 8px;
  }
}

/* Socials */
.socials__link {
  width: 36px;
  height: 36px;
  display: inline-block;
  margin: 0 8px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  -webkit-transition: -webkit-transform .1s linear;
  transition: -webkit-transform .1s linear;
  transition: transform .1s linear;
  transition: transform .1s linear, -webkit-transform .1s linear;
}

.socials__link img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.socials__link:hover, .socials__link:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

/* === ABOUT === */
.about {
  padding-bottom: 50px;
  margin-top: 150px;
}

.about-inner {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-inner__title {
  margin-top: 25px;
  margin-bottom: 10px;
  font-family: 'IntroScript';
  font-size: 1.9rem;
}

.about-inner__text {
  margin-right: 20px;
  max-width: 560px;
}

.about-inner__text b {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.about-inner__text p {
  margin-bottom: 20px;
  line-height: 1.3;
}

.about-inner__img-wrap {
  max-width: 500px;
  max-height: 500px;
  border-radius: 50%;
  overflow: hidden;
}

.about-inner__img-wrap img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.about-quotes {
  margin: 0 auto;
  padding: 70px 0 120px;
  max-width: 616px;
  position: relative;
  font-family: 'PlayfairDisplay';
  font-size: 1.38rem;
  font-weight: 700;
  font-style: italic;
  line-height: 1.2;
  text-align: center;
}

.about-quotes::before {
  content: '';
  display: block;
  width: 60px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url("../img/interface/quotes.png") no-repeat;
}

.about-quotes::after {
  content: '';
  width: 150px;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url("../img/about/painting.png") no-repeat;
}

@media (max-width: 991px) {
  .about {
    margin-top: 70px;
  }
  .about-inner__title {
    font-size: 1.44rem;
  }
  .about-inner__text b {
    font-size: 1rem;
  }
  .about-inner__text p {
    font-size: .9rem;
  }
}

@media (max-width: 767px) {
  .about {
    margin-top: 10px;
  }
  .about .section__title {
    margin-bottom: 20px;
    text-align: center;
  }
  .about-inner {
    margin-bottom: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-inner__img-wrap {
    max-width: 250px;
    max-height: 250px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .about-inner__text {
    margin-right: 0;
  }
  .about-quotes {
    padding: 50px 0 100px;
    max-width: 400px;
    font-size: 1rem;
  }
  .about-quotes::before {
    width: 35px;
    background-size: 35px;
  }
  .about-quotes::after {
    width: 82px;
    background-size: 82px;
  }
}

@media (max-width: 575px) {
  .about-inner__img-wrap {
    max-width: 180px;
    max-height: 180px;
  }
  .about-quotes {
    font-size: .9rem;
  }
}

/* === ADVANTAGES === */
.advantages-inner {
  padding-top: 50px;
}

.advantages-inner__block-top {
  padding: 240px 0;
  background: url("../img/advantages/dish-1.png") no-repeat top left/520px;
}

.advantages-inner__block-items {
  width: 50%;
  margin-left: auto;
  text-align: left;
}

.advantages-inner__block-item {
  padding-left: 80px;
  margin-bottom: 15px;
  max-width: 420px;
  position: relative;
}

.advantages-inner__block-item strong {
  margin-bottom: 10px;
  display: block;
}

.advantages-inner__block-item::before {
  content: '';
  vertical-align: middle;
  display: inline-block;
  width: 65px;
  height: 65px;
  position: absolute;
  top: 50%;
  left: -5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../img/interface/ingredient-ico.png") no-repeat center;
}

.advantages-inner__block-item:last-child::before {
  background-image: url("../img/interface/cake-ico.png");
}

.advantages-inner__block-bottom {
  padding: 210px 0;
  background: url("../img/advantages/dish-2.png") no-repeat top right -50px/600px;
}

.advantages-inner__block-bottom p {
  max-width: 400px;
}

.advantages-inner__block-bottom .section__subtitle {
  margin-bottom: 10px;
}

@media (max-width: 991px) {
  .advantages-inner__block-top,
  .advantages-inner__block-bottom {
    padding: 110px 0;
    background-size: 350px;
  }
  .advantages-inner__block-top {
    padding: 150px 0;
  }
  .advantages-inner__block-bottom {
    background-position: top right -30px;
  }
}

@media (max-width: 767px) {
  .advantages-inner__block-top {
    padding: 0 0 40px;
    background: none;
  }
  .advantages-inner__block-items {
    padding: 5px;
    width: 100%;
    text-align: center;
    position: relative;
  }
  .advantages-inner__block-items::before {
    content: '';
    position: absolute;
    top: 0;
    left: -15px;
    width: calc(100% + 30px);
    height: 100%;
    background-color: #fff;
  }
  .advantages-inner__block-item {
    padding-top: 75px;
    padding-left: 0;
    margin: 0 auto 15px;
  }
  .advantages-inner__block-item::before {
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .advantages-inner__block-bottom {
    padding: 0 0 170px;
    background-size: 400px;
    background-position: bottom -250px center;
  }
}
/*# sourceMappingURL=style.css.map */