@font-face {
  font-family: 'Lato Regular';
  src: url("../../fonts/Lato-Regular.eot");
  src: url("../../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../../onts/Lato-Regular.woff") format("woff"), url("../../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Medium';
  src: url("../fonts/Lato-Medium.eot");
  src: url("../fonts/Lato-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Medium.woff") format("woff"), url("../fonts/Lato-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Bold';
  src: url("../fonts/Lato-Bold.eot");
  src: url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.container {
  padding: 20px;
  width: 100%;
  max-width: 1222px;
  margin: 0 auto;
}

html {
  font-size: 15px;
}

body {
  font-family: 'Lato Regular', sans-serif;
  font-size: 1rem;
  color: #102746;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.header {
  padding: 0 100px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

@media screen and (max-width: 992px) {
  .header {
    padding: 0 50px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 30px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding: 0 15px;
  }
}

.header__inner {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 524px) {
  .nav {
    display: none;
  }
}

.nav__link {
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  -webkit-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s;
}

.nav__link:hover {
  color: #cccccc;
}

.intro {
  height: 100vh;
  min-height: 720px;
  padding: 200px 100px 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("../img/intro-bg.jpg") no-repeat center/cover;
  height: 962px;
  color: #fff;
}

@media screen and (max-width: 992px) {
  .intro {
    padding: 140px 50px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 110px 30px;
    min-height: 670px;
    height: 100vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .intro {
    padding: 110px 10px;
  }
}

.intro__title {
  margin-bottom: 22px;
  max-width: 620px;
  font-size: 3.3rem;
  font-weight: 500;
}

@media screen and (max-width: 992px) {
  .intro__title {
    font-size: 2.8rem;
  }
}

@media screen and (max-width: 768px) {
  .intro__title {
    max-width: 570px;
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 524px) {
  .intro__title {
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 480px) {
  .intro__title {
    font-size: 2rem;
  }
}

.intro__text {
  margin-bottom: 55px;
  max-width: 555px;
  font-size: 1.06rem;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .intro__text {
    margin-bottom: 30px;
    max-width: 500px;
  }
}

@media screen and (max-width: 480px) {
  .intro__text {
    font-size: 1rem;
  }
}

.intro__form {
  max-width: 880px;
}

@media screen and (max-width: 992px) {
  .intro__form .form__input {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 480px) {
  .intro__form .form__input {
    width: 100%;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

.form__input {
  width: 300px;
  margin-bottom: 20px;
  padding: 20px 37px;
  font-family: 'Lato Medium', sans-serif;
  color: #fff;
  outline: none;
  background: none;
  border: none;
  border-bottom: 2px solid #fff;
}

@media screen and (max-width: 480px) {
  .form__input {
    padding: 20px 30px;
  }
}

.form__input::-webkit-input-placeholder {
  font-size: 1.2rem;
  font-family: 'Lato Medium', sans-serif;
  color: #fff;
}

.form__input:-ms-input-placeholder {
  font-size: 1.2rem;
  font-family: 'Lato Medium', sans-serif;
  color: #fff;
}

.form__input::-ms-input-placeholder {
  font-size: 1.2rem;
  font-family: 'Lato Medium', sans-serif;
  color: #fff;
}

.form__input::placeholder {
  font-size: 1.2rem;
  font-family: 'Lato Medium', sans-serif;
  color: #fff;
}

@media screen and (max-width: 480px) {
  .form__input::-webkit-input-placeholder {
    font-size: 1rem;
  }
  .form__input:-ms-input-placeholder {
    font-size: 1rem;
  }
  .form__input::-ms-input-placeholder {
    font-size: 1rem;
  }
  .form__input::placeholder {
    font-size: 1rem;
  }
}

.btn {
  padding: 12px 19px;
  color: #fff;
  text-transform: uppercase;
  background: none;
  border: none;
  background: #1b7dff;
  -webkit-transition: background-color .3s linear;
  -o-transition: background-color .3s linear;
  transition: background-color .3s linear;
}

.btn:hover {
  background-color: #0063e7;
}

.btn-search {
  padding: 15px 40px;
  font-size: 1.3033rem;
  font-family: 'Lato Bold', sans-serif;
}

.benefits {
  padding: 10px;
  margin-bottom: 130px;
}

.benefits__inner {
  margin-top: -200px;
  padding: 90px 100px 110px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 20px rgba(21, 24, 36, 0.16);
  box-shadow: 0 2px 20px rgba(21, 24, 36, 0.16);
}

@media screen and (max-width: 992px) {
  .benefits__inner {
    padding: 70px 80px 90px;
  }
}

@media screen and (max-width: 768px) {
  .benefits__inner {
    margin-top: -90px;
    padding: 50px 60px 70px;
  }
}

@media screen and (max-width: 524px) {
  .benefits__inner {
    padding: 35px 30px 45px;
  }
}

@media screen and (max-width: 480px) {
  .benefits__inner {
    margin-top: -50px;
  }
}

.benefits__title {
  margin-bottom: 120px;
  font-size: 2.303rem;
  color: #102746;
  font-family: 'Lato Medium', sans-serif;
}

@media screen and (max-width: 768px) {
  .benefits__title {
    margin-bottom: 90px;
  }
}

.benefits__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 524px) {
  .benefits__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.benefits__item {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  color: #000;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .benefits__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
}

.benefits__item-ico {
  margin-bottom: 35px;
}

.benefits__item-title {
  margin-bottom: 25px;
  font-size: 1.2rem;
  font-family: 'Lato Medium', sans-serif;
}

.benefits__item-text {
  margin-bottom: 40px;
  font-size: 1.066rem;
}

@media screen and (max-width: 768px) {
  .benefits__item-text {
    margin-bottom: 30px;
  }
}

.link-next {
  font-size: 1.066rem;
  color: #006dfe;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

@media screen and (max-width: 768px) {
  .link-next {
    margin-bottom: 40px;
  }
}

.link-next::before, .link-next::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  right: -50px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.link-next::before {
  margin-left: 25px;
  width: 25px;
  height: 2px;
  background-color: #1b7dff;
}

.link-next::after {
  border: 8px solid #1b7dff;
  border-left-width: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: #1b7dff;
  right: -45px;
  -webkit-transform: rotate(-135deg) translateY(43%);
  -ms-transform: rotate(-135deg) translateY(43%);
  transform: rotate(-135deg) translateY(43%);
}

.link-next:hover {
  color: #004db4;
}

.link-next:hover::before {
  background-color: #004db4;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.link-next:hover::after {
  border-bottom-color: #004db4;
  -webkit-transform: scale(0.9) rotate(-135deg) translateY(40%);
  -ms-transform: scale(0.9) rotate(-135deg) translateY(40%);
  transform: scale(0.9) rotate(-135deg) translateY(40%);
}

.section-header {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .section-header {
    display: block;
  }
}

.section-header__title {
  position: relative;
  font-size: 2.3033rem;
  color: #102746;
  font-family: 'Lato Medium', sans-serif;
}

.section-header__title::before {
  content: '';
  display: block;
  width: 253px;
  height: 3px;
  background-color: #1b7dff;
  position: absolute;
  left: 0;
  bottom: -10px;
}

@media screen and (max-width: 992px) {
  .section-header__title {
    margin-bottom: 25px;
  }
}

.trip {
  /* GALLERY */
  /* /END GALLERY */
}

.trip__link-next {
  margin: 0;
  margin-right: 55px;
}

.trip__link-next::before {
  width: 20px;
  right: -30px;
}

.trip__link-next::after {
  right: -25px;
}

.trip-gallery {
  margin-bottom: 130px;
}

@media screen and (max-width: 768px) {
  .trip-gallery {
    margin-bottom: 70px;
  }
}

.trip-gallery__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .trip-gallery__block-top {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (max-width: 524px) {
  .trip-gallery__block-top .trip-gallery__item-name {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .trip-gallery__block-bottom .trip-gallery__item-name {
    font-size: 2rem;
    left: 15px;
  }
}

@media screen and (max-width: 524px) {
  .trip-gallery__block-bottom {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.trip-gallery__item {
  position: relative;
  cursor: pointer;
}

.trip-gallery__item:hover .trip-gallery__item-img {
  -webkit-filter: brightness(1.2);
  filter: brightness(1.2);
}

.trip-gallery__item-img {
  display: block;
  max-width: 100%;
  -webkit-transition: -webkit-filter .2s linear;
  transition: -webkit-filter .2s linear;
  -o-transition: filter .2s linear;
  transition: filter .2s linear;
  transition: filter .2s linear, -webkit-filter .2s linear;
}

.trip-gallery__item-name {
  font-size: 3.3rem;
  color: #fff;
  font-family: 'Lato Bold', sans-serif;
  position: absolute;
  left: 45px;
  bottom: 10%;
  z-index: 100;
}

@media screen and (max-width: 992px) {
  .trip-gallery__item-name {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .trip-gallery__item-name {
    left: 10%;
  }
}

.trip-about-block {
  margin-bottom: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 992px) {
  .trip-about-block {
    margin-bottom: 55px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.trip-about-block:last-child {
  margin-bottom: 0;
}

.trip-about-block__img {
  margin-right: 20px;
  width: 50%;
}

@media screen and (max-width: 992px) {
  .trip-about-block__img {
    margin-right: 0;
    width: 100%;
    margin-bottom: 50px;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
}

.trip-about-block__img:last-child {
  margin-right: 0;
  margin-left: 20px;
}

@media screen and (max-width: 992px) {
  .trip-about-block__img:last-child {
    margin-left: 0;
  }
}

.trip-about-block__img img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.trip-about-block__content {
  max-width: 519px;
  color: #102746;
}

.trip-about-block__title {
  margin-bottom: 75px;
  font-size: 2rem;
  font-family: 'Lato Medium', sans-serif;
}

@media screen and (max-width: 992px) {
  .trip-about-block__title {
    margin-bottom: 45px;
  }
}

.trip-about-block__text {
  margin-bottom: 55px;
  font-size: 1.033rem;
}

.top-places {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.top-places__card {
  min-width: 225px;
  -ms-flex-preferred-size: 31%;
  flex-basis: 31%;
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .top-places__card {
    -ms-flex-preferred-size: 49%;
    flex-basis: 49%;
  }
}

@media screen and (max-width: 524px) {
  .top-places__card {
    -ms-flex-preferred-size: 79%;
    flex-basis: 79%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 480px) {
  .top-places__card {
    margin-bottom: 40px;
    -webkit-box-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
  }
}

.top-places__card-text {
  margin-bottom: 30px;
}

.top-places__place {
  margin-bottom: 35px;
  position: relative;
}

.top-places__place img {
  display: block;
  max-width: 100%;
}

@media screen and (max-width: 480px) {
  .top-places__place img {
    margin-bottom: 40px;
    width: 100%;
  }
}

.top-places__place-name {
  font-size: 1.2rem;
  font-family: 'Lato Medium', sans-serif;
  color: #fff;
}

.top-places__place-footer {
  padding: 15px 25px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: rgba(21, 24, 36, 0.6);
  position: absolute;
  left: 0;
  bottom: 0;
}

@media screen and (max-width: 768px) {
  .top-places__place-footer {
    padding: 15px;
  }
}

.top-places__place-stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.066rem;
  color: #fff;
  font-family: 'Lato Medium', sans-serif;
}

.top-places__place-stat-item {
  margin-right: 4px;
}

.top-places__place-stat-ico {
  margin-right: 15px;
  color: #fff;
  -webkit-transition: color .1s linear;
  -o-transition: color .1s linear;
  transition: color .1s linear;
}

.top-places__place-stat-ico:last-child {
  margin-right: 0;
}

.top-places__place-stat-ico:hover {
  color: #cccccc;
}

.video {
  height: 609px;
  background: url(../img/video-bg.jpg) no-repeat center/cover;
}

.footer {
  background-color: #0e1d28;
}

.footer__inner {
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer__inner {
    padding: 40px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.footer__logo {
  width: 170px;
  height: 64px;
  background: url(../img/footer/logo.png) no-repeat;
}

@media screen and (max-width: 768px) {
  .footer__logo {
    margin-bottom: 50px;
  }
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer__content {
    width: 100%;
  }
}

.footer__content-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__content-link {
  margin-bottom: 5px;
  font-size: 1.066rem;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .footer__content-link {
    font-size: 1rem;
  }
}

.footer__content-link:hover {
  text-decoration: underline;
}
