.dishes {
    &-type {
        max-width: 730px;
        margin: 0 auto 150px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        &__btn {
            margin-bottom: 30px;
        }
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        &__item {
            margin: 0 5px 30px;
            flex-basis: 19%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__photo-wrap {
            padding: 10px;
            margin-bottom: 60px;
            background-color: #fff;
            box-shadow: 0 0 45px rgba(110, 116, 152, 0.15);
        }

        &-content {
            display: none;
            max-width: 277px;
            text-align: center;
            font-family: $secondary-font;
            &__price {
                display: inline-block;
                margin-bottom: 50px;
                font-size: 4rem;
                font-family: $main-font;
                font-weight: 700;
                font-style: italic;
                color: $primary;
            }

            &__name {
                margin-bottom: 20px;
                font-size: 1.5rem;
                font-weight: 700;
            }

            &__info {
                margin-bottom: 60px;
                line-height: 2;
            }
        }
    }

    &-btn-order {
        display: none;
    }
}

@media (max-width: $screen-lg-max) {
    .dishes {
        &-type {
            margin-bottom: 30px;
        }
    }
}

@media (max-width: $screen-md-max) {
    .dishes {
        &-list {
            &__photo-wrap {
                margin-bottom: 20px;
            }
        }
    }
}