.header {
    width: 100%;
    padding: 95px 10px 30px;
    position: absolute;
    top: 0; left: 0;
    background-color: rgba(000, 000, 000, .65);
    &__logo {
        font-size: 4rem;
        color: $primary;
    }

    &-nav {
        transition: all .3s;
    }
}

@media (max-width: $screen-lg-max) {
    .header {
        padding: 115px 20px 30px;
        &__logo {
            position: absolute;
            top: 15px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

@media (min-width: $screen-lg-min) {
    .header {
        padding: 65px 10px;
        &__logo {
            margin: 0 50px;
            position: static;
        }
        
        &-nav {
            justify-content: center;
            &__link{
                margin: 5px 30px 0;
            }
        }
    }
}

@media (max-width: $screen-xs-max) {
    
    .header {
        &__logo {
            font-size: 3rem;
        }
        &-nav {
            height: 0;
            font-size: 0;
            padding: 0;
            flex-direction: column;
            
            &__link {
                margin-bottom: 15px;
            }
        }
    }

    .burger {
        display: block;
        margin-bottom: 30px;
        &.active:hover ~ .header-nav {
            height: auto;
            font-size: 1rem;
            padding: 20px 0 5px;
            background-color: rgba($primary, .6);
        }
    }
    
}