.intro {
    padding-top: 210px;
    height: 100vh;
    min-height: 800px;
    display: flex;
    align-items: center;
    
    background: $black url("../assets/img/intro-bg.jpg") no-repeat center/cover;
    color: $white;
    &-inner {
        text-align: center;
        &__title {
            margin-bottom: 40px;
            font-size: 4rem;
            line-height: 1.5;
            font-style: italic;

            span {
                color: $primary;
            }
        }
    
        &__offer {
            margin: 0 auto 70px;
            max-width: 700px;
            
            font-family: $secondary-font;
            font-size: 1.4rem;
            line-height: 2;
            text-align: center;
        }
    }

}

@media (max-width: $screen-md-max) {
    .intro {
        padding-top: 160px;
        &-inner {
            &__title {
                font-size: 3.5rem;
            }
        }
    }
}

@media (max-width: $screen-xs-max) {
    .intro {
        min-height: 680px;
        &-inner {
            &__title {
                font-size: 2rem;
            }

            &__offer {
                font-size: 1rem;
            }
        }
    }
}
