/* Variables
 ============================== */
:root {
   --primary: #FF9500;
   --hover: #d47c00;
}

/* Default styles
 ============================== */
body {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   
   min-height: 100vh;
   background-color: #000;
   color: #fff;
   font: 16px 'Inconsolata', monospace;
}

*, *::before, *::after {
   margin: 0;
   box-sizing: border-box;
}

button {
   border: none;
   background: none;
}button:focus {
    outline: none;
}

/*
===================================== */

/* Stopwatch
===================================== */
.stopwatch {
   color: #fff;
}
.stopwatch-display {
   margin-bottom: 20px;
   padding: 10px;

   font-size: 4rem;
   line-height: 1.1;
   text-align: center;
   color: var(--primary);
}
.stopwatch__btn {
   padding: 10px 20px;
   transition: background-color .2s linear;

   border-radius: 10px;
   background-color: var(--primary);
   font-family: inherit;
   font-size: 1.1rem;
   color: #fff;
 }
.stopwatch__btn:active,
.stopwatch__btn:not(.stopwatch__btn--focus):focus,
.stopwatch__btn:hover{
   background-color: var(--hover);
 }
.stopwatch-round-display {
   min-height: 50px;
   margin-top: 20px;
   color: inherit;
}
.stopwatch-round-display__header {
   display: none;
   justify-content: space-between;
   padding: 7px 20px;

   border-bottom: 1px solid #fff;

}
.stopwatch-round-display__header.show {
   display: flex;
}
.round-display__row {
   padding: 7px 20px;
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid #fff;
}
.round-display__row:last-child {
   border-bottom: none
}

/* /Stopwatch
===================================== */

.msg {
   position: absolute;
   top: 10px;
   left: 10px;
}

