/** fonts **/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@700&display=swap");
/** Base **/
html {
  font-size: 18px; }

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #333; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: #F09D1C; }

.link {
  padding: 7px 0;
  position: relative;
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease; }
  .link::before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #F09D1C;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease; }
  .link:hover::before {
    opacity: 1; }

.container-custom {
  padding: 0 30px;
  max-width: 1300px;
  margin: 0 auto; }

.btn {
  max-width: 236px;
  padding: 15px 70px;
  background-color: #FFBE58;
  border-radius: 4px;
  font-size: 1.3rem;
  color: #fff;
  font-weight: 800;
  white-space: pre-wrap; }
  .btn:hover {
    background-color: #F09D1C; }
  .btn:active, .btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #F69A0A; }
  .btn-t {
    padding: 15px 40px;
    border: 2px solid #FFBE58;
    background-color: transparent;
    color: #FFBE58;
    font-size: 1rem; }
    .btn-t:hover, .btn-t:focus {
      background-color: transparent;
      border-color: #F09D1C;
      color: #F09D1C; }

/** burger **/
.burger__item {
  width: 23px;
  height: 2px;
  background-color: #333;
  position: relative; }
  .burger__item::before, .burger__item::after {
    content: '';
    display: block;
    width: 23px;
    height: 2px;
    background-color: #333;
    position: absolute;
    top: -7px;
    left: 0;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease; }
  .burger__item::after {
    top: 7px; }
  .burger__item.active {
    background-color: transparent; }
    .burger__item.active::before, .burger__item.active::after {
      width: 28px;
      height: 4px;
      background-color: #fff;
      top: 0;
      left: 0; }
    .burger__item.active::before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .burger__item.active::after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }

@media (min-width: 768px) {
  .burger__item {
    display: none; } }

@media (max-width: 767.98px) {
  .burger {
    margin-left: auto;
    padding: 15px 5px;
    width: 33px;
    height: 20px; }
    .burger__item.active {
      top: 30px;
      right: 15px; } }

/** /burger **/
/** Fotorama slider **/
.fotorama__img {
  display: block; }

.fotorama__nav {
  margin-top: 12px; }
  .fotorama__nav__frame {
    margin: 0 2px; }
  .fotorama__nav__shaft {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.fotorama__thumb {
  display: inline-block !important;
  overflow: hidden;
  border-radius: 8px !important;
  -webkit-filter: brightness(0.9);
  filter: brightness(0.9); }
  .fotorama__thumb-border {
    width: 0 !important;
    border: none !important; }

.fotorama__active .fotorama__thumb {
  -webkit-filter: brightness(1.1);
  filter: brightness(1.1); }

/** /Fotorama slider **/
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .socials__svg {
    margin: 0 5px;
    max-width: 30px;
    max-height: 30px;
    fill: #8F8F8F;
    -webkit-transition: fill .3s;
    -o-transition: fill .3s;
    transition: fill .3s; }
    .socials__svg:hover, .socials__svg:active {
      fill: #F09D1C; }

/** Blocks **/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px; }
  .header__phone {
    font-size: .8rem;
    font-weight: 600;
    padding: 20px 0;
    -webkit-transition: color .3s linear;
    -o-transition: color .3s linear;
    transition: color .3s linear; }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }

@media (min-width: 576px) {
  .header__nav-link {
    font-size: .9rem; }
  .header__phone {
    font-size: 1.1rem; } }

@media (min-width: 992px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

@media (max-width: 767.98px) {
  .header__nav.active {
    width: 100%;
    height: 100vh;
    max-height: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1rem;
    color: #fff;
    background-color: #000;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: width .3s ease;
    -o-transition: width .3s ease;
    transition: width .3s ease; }
  .header__logo {
    max-width: 115px;
    margin-left: -15px; } }

.intro {
  padding: 100px 0 30px;
  height: 100vh;
  background: url("../../img/intro/intro-bg.jpg") no-repeat top right 40%/cover; }
  .intro__title {
    margin-bottom: 70px;
    font-size: 1.2rem;
    font-weight: 600; }
  .intro .col {
    padding: 0; }
  .intro .container-custom, .intro .row {
    height: 100%; }

@media (min-width: 576px) {
  .intro__title {
    max-width: 420px;
    font-size: 1.8rem; } }

@media (min-width: 768px) {
  .intro__title {
    max-width: 530px;
    font-size: 2.3rem; } }

@media (max-width: 575.98px) {
  .intro__title {
    margin-bottom: 30px;
    font-size: 1.25rem;
    line-height: 1.5; }
  .intro__btn {
    max-width: none;
    width: 100%; } }

.promo {
  margin: 0 auto;
  max-width: 810px;
  padding: 60px 10px;
  font-size: .85rem;
  line-height: 1.7;
  text-align: center; }

@media (min-width: 576px) {
  .promo {
    padding-top: 80px;
    padding-bottom: 80px; } }

@media (min-width: 768px) {
  .promo {
    padding-top: 130px;
    padding-bottom: 130px;
    font-size: 1rem; } }

.product {
  margin-bottom: 20px; }
  .product-main {
    margin-bottom: 70px; }
    .product-main__content {
      padding: 30px 0;
      text-align: center; }
    .product-main__name {
      font-size: 1.2rem; }
    .product-main__price {
      display: inline-block;
      margin: 10px 0 20px;
      font-size: 1.9rem; }
    .product-main__text {
      margin: 0 auto 30px;
      max-width: 430px;
      font-size: 1rem; }
  .product-counter {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border: 1px solid #c4c4c4;
    border-radius: 4px; }
    .product-counter__amount {
      border: 1px solid #c4c4c4;
      border-top: 0;
      border-bottom: 0; }
    .product-counter__item {
      display: inline-block;
      padding: 7px 15px;
      line-height: 1;
      font-size: 1.4rem;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
      .product-counter__item:active:not(.product-counter__amount) {
        outline: 2px solid #FFBE58; }
  .product-btns {
    margin-top: 30px; }
    .product-btns-btn {
      margin-bottom: 20px; }
  .product-tabs {
    padding: 50px 0; }
    .product-tabs__list {
      margin-bottom: 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      border-bottom: 2px solid #e5e5e5; }
    .product-tabs__link.focus {
      color: #F09D1C; }
      .product-tabs__link.focus::before {
        opacity: 1; }
    .product-tabs__link:last-child {
      margin-right: 0; }
    .product-tabs__link::before {
      background-color: #FFBE58;
      bottom: -2px; }
    .product-tabs__content {
      height: 300px;
      overflow: hidden; }
    .product-tabs__item {
      height: 0;
      opacity: 0;
      overflow: hidden;
      -webkit-transition: opacity .6s linear;
      -o-transition: opacity .6s linear;
      transition: opacity .6s linear; }
      .product-tabs__item.open {
        height: auto;
        opacity: 1; }
      .product-tabs__item-addition {
        margin-top: 34px;
        max-width: 510px; }
      .product-tabs__item p {
        margin-bottom: 10px; }

@media (min-width: 576px) {
  .product-main__content {
    padding: 10px 0;
    text-align: left; }
  .product-main__name {
    font-size: 1.4rem; }
  .product-main__price {
    margin: 8px 0 15px;
    line-height: 1; }
  .product-main__text {
    margin: 0 0 30px; } }

@media (min-width: 992px) {
  .product-main__content {
    padding: 90px 0 90px 50px; }
  .product-main__name {
    font-size: 2.2rem; }
  .product-main__price {
    font-size: 2.5rem;
    margin: 20px 0; }
  .product-main__text {
    font-size: 1.1rem; }
  .product-counter {
    margin: 30px 0 20px; }
  .product-tabs__list {
    padding-right: 145px; } }

@media (max-width: 575.98px) {
  .product-tabs__list {
    overflow-x: scroll;
    position: relative; }
    .product-tabs__list::-webkit-scrollbar {
      width: 0; }
  .product-tabs__link::before {
    display: none; }
  .product-tabs__link + .product-tabs__link {
    margin-left: 30px; } }

.features {
  padding: 30px 0 50px; }
  .features-item {
    max-width: 250px;
    margin-bottom: 10px;
    text-align: center; }
    .features-item:last-child {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px); }
  .features__icon {
    margin-bottom: 10px; }

.features .fotorama__html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.features .fotorama__nav__shaft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.features .fotorama__nav__frame--dot {
  margin: 10px; }
  .features .fotorama__nav__frame--dot .fotorama__dot {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    background-color: #e5e5e5;
    border: none;
    border-radius: 50%; }

.features .fotorama__active .fotorama__dot {
  background-color: #F69A0A; }

@media (min-width: 576px) {
  .features {
    padding: 50px 0; } }

@media (min-width: 992px) {
  .features {
    padding: 80px 0; } }

.about {
  overflow: hidden; }
  .about__title {
    margin-bottom: 20px;
    font-size: 1.3rem;
    text-align: center; }
  .about__img {
    margin-bottom: 30px;
    min-height: 600px;
    overflow: hidden;
    border-radius: 8px;
    position: relative; }
    .about__img img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0; }
  .about__text {
    padding-bottom: 40px;
    margin-left: 30px;
    line-height: 1.7;
    position: relative; }
    .about__text .show-more, .about__text .show-less {
      position: absolute;
      bottom: 10px;
      right: 0;
      color: #FFBE58; }

@media (min-width: 575.98px) {
  .about__title {
    margin-bottom: 70px;
    font-size: 2rem; } }

@media (min-width: 991.98px) {
  .about__title {
    font-size: 2.8rem; } }

.footer {
  padding: 50px 0;
  background-color: #e5e5e5;
  color: #757575; }
  .footer .logo {
    margin-bottom: 20px; }
  .footer .socials__link {
    margin: 0 10px; }
  .footer .socials__link:nth-child(2) .socials__svg {
    max-width: 25px;
    max-height: 25px; }
  .footer__col-title {
    margin-bottom: 15px;
    font-size: 1.1rem;
    font-weight: 500; }
  .footer__text {
    display: block;
    margin-bottom: 10px;
    font-size: .9rem; }

@media (max-width: 767.98px) {
  .footer {
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .footer .logo {
      margin: 0; }
    .footer .socials {
      padding: 20px 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .footer__col-title, .footer__text {
      font-size: .9rem; } }
