$primary: #43a9ff;
$red: #fe3254;
$black: #000;
$gray: #c0c5ca;
$light-gray: #f7f8fb;

$shadow: 0 0 35px rgba(218, 229, 239, 0.45);
$radius: 22px;

// Media
$screen-xs-min: 480px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
 
$screen-xs-max: 479px;
$screen-sm-max: 575px;
$screen-md-max: 767px;
$screen-lg-max: 991px;
$screen-xl-max: 1199px;